{% extends 'base.html' %}
{% block content %}


    <div class="card">

        <div class="card-body">

            <h2>Nazwa sali: {{ room.name }}</h2>

            <p>Pojemność sali: {{ room.capacity }}</p>

            <p>Dostępność rzutnika:

                {% if room.projector_availability %}

                    <span style="color:green;">&#9745;</span>

                {% else %}

                    <span style="color:red;">&#9746;</span>

                {% endif %}

            </p>

            <p>

                <a href="/room/modify/{{ room.id }}/">edytuj</a>

                <a href="/room/delete/{{ room.id }}/">usuń</a>

                <a href="/room/reserve/{{ room.id }}/">zarezerwuj</a>

            </p>

            <h3>Rezerwacje</h3>

            <ul class="list-group">

                {% for reservation in RoomReservation.objects.all %}

                    <li class="list-group-item">

                        <h4>{{ object.date }}</h4>

                        <p>{{ object.comment }}</p>

                    </li>

                {% endfor %}

            </ul>

        </div>

    </div>
{% endblock %}